:root {
    --primary-dark: #03001c;
    --primary-light: #faeed1;
    --secondary-light: #fff6f6;
    --tertiary-light: #ececec;
    --hover: #302e45;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--primary-dark);
}
.button {
    display: block;
    background-color: var(--primary-dark);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    transition: all 150ms ease-in-out;
}
.button:hover {
    background-color: var(--hover);
}
.card {
    background-color: var(--secondary-light);
}
.card.body {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}
.card .grid .grid-2-columns {
    grid-gap: 0;
}
.card.header {
    margin-top: 5px;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.embed {
    width: 100%;
    aspect-ratio: 1/1;
}
footer {
    color: white;
    background-image: linear-gradient(rgba(3, 0, 28, 0.8), rgba(3, 0, 28, 0.8)),
        url('/images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1400px;
    margin: 0 auto;
}
footer h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
}
footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: white;
    opacity: 0.7;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.gallery-responsive {
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}
.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}
.grid-2-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.grid-4-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 280px 0px;
}
header h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}
header h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
header h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0;
}
header a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: white;
    text-decoration: none;
    padding: 16px 32px;
    color: var(--primary-dark);
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
}
header a:hover {
    background-color: var(--hover);
    color: white;
}
.header-buttons {
    margin-bottom: 10px;
}
.history {
    grid-gap: 30px;
}
.img-responsive {
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}
.justify {
    text-align: justify;
}
main {
    background-color: white;
}
main h2 {
    color: var(--primary-dark);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
main h3 {
    color: var(--primary-dark);
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}
main p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: var(--primary-dark);
    opacity: 0.8;
}
.recognition {
    text-align: center;
    color: white;
}
.recognition a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.recognition a:hover {
    text-decoration: underline;
}
section {
    margin: 0 auto;
    padding: 50px;
}
section.secondary {
    background: var(--primary-light);
}
section.secondary h2 {
    color: var(--primary-dark);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}
section.secondary h3 {
    color: var(--primary-dark);
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
section.secondary h4 {
    color: var(--primary-dark);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
    margin-bottom: 5px;
}
section.secondary p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: var(--primary-dark);
    opacity: 0.8;
    line-height: 1;
}
section.tertiary {
    background-color: var(--tertiary-light);
}
section.tertiary h3 {
    color: var(--primary-dark);
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
section.tertiary h2 {
    color: var(--primary-dark);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

section.quaternary {
    background-color: rgba(244, 238, 255, 0.95);
}
section.quaternary h3 {
    color: var(--primary-dark);
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
section.quaternary h2 {
    color: var(--primary-dark);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

table {
    border: 3px solid var(--primary-dark);
    padding: 10px;
    margin: 20px auto;
    background-color: rgba(48, 46, 69, 0.7);
}
.table-container {
    overflow-x: auto;
}
th {
    text-align: left;
    color: white;
    padding-right: 10px;
    font-size: 16px;
    text-decoration: underline;
}
td {
    color: white;
    font-size: 14px;
    padding-right: 10px;
}
.video {
    width: 70%;
    height: 50%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    display: block;
}
.video-link {
    display: block;
    background-color: var(--primary-dark);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    transition: all 150ms ease-in-out;
    width: 30%;
    display: block;
    margin: 10px auto;
}
.video-link:hover {
    background-color: var(--hover);
}
.video-text {
    text-align: justify;
}

@media (max-width: 821px) {
    .embed {
        aspect-ratio: 16/9;
    }
    footer {
        margin-top: 5px;
        padding-top: 5px;
    }
    footer h3 {
        font-size: 10px;
    }
    footer a {
        font-size: 8px;
    }
    footer p {
        font-size: 8px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    header {
        padding: 60px 0;
    }
    header h1 {
        line-height: 1;
        margin: 10px;
        font-size: 48px;
    }
    header h2 {
        font-size: 20px;
    }
    header h3 {
        font-size: 12px;
    }
    header a {
        font-size: 10px;
        padding: 8px 16px;
    }
    .img-responsive {
        display: none;
    }
    .mesa-verde {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
    }
    .recognition {
        text-align: center;
        font-size: 8px;
    }
    .responsive-center {
        text-align: center;
    }
    section {
        padding: 30px 10px;
    }
}