:root {
    --primary-dark: #03001c;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--primary-dark);
}
section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
main {
    background-color: white;
}
main h2 {
    color: var(--primary-dark);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
main h3 {
    color: var(--primary-dark);
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}
main p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: var(--primary-dark);
    opacity: 0.8;
}
.mesa-verde {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}
.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}
.grid-2-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.recognition {
    text-align: center;
    color: white;
}
.recognition a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.recognition a:hover {
    text-decoration: underline;
}
footer {
    color: white;
    background-image: linear-gradient(rgba(3, 0, 28, 0.8), rgba(3, 0, 28, 0.8)),
        url('/images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1400px;
    margin: 0 auto;
}
footer h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
}
footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: white;
    opacity: 0.7;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 280px 0px;
}

header h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}
header h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0;
}

header a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: white;
    text-decoration: none;
    padding: 16px 32px;
    color: var(--primary-dark);
    display: inline-block;
    margin-top: 20px;
}

@media (max-width: 800px) {
    header {
        padding: 60px 0;
    }
    header h1 {
        line-height: 1;
        margin: 10px;
        font-size: 48px;
    }
    header h2 {
        font-size: 20px;
    }
    header h3 {
        font-size: 12px;
    }
    header a {
        font-size: 10px;
        padding: 8px 16px;
    }
    footer {
        margin-top: 5px;
        padding-top: 5px;
    }
    footer h3 {
        font-size: 10px;
    }
    footer a {
        font-size: 8px;
    }
    footer p {
        font-size: 8px;
    }
    .recognition {
        text-align: center;
        font-size: 8px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    .mesa-verde {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
    }
    section {
        padding: 30px 10px;
    }
    .responsive-center {
        text-align: center;
    }
}
